<div class="overflow-x-auto">
      <table class="w-full border-collapse">
        <thead class="bg-white">
          <tr class="border-b border-gray-200">
            <th
              class="text-left px-6 py-4 text-xs font-semibold uppercase tracking-wider text-gray-500"
            >
              Report Name
            </th>

            <th
              class="text-left px-6 py-4 text-xs font-semibold uppercase tracking-wider text-gray-500"
            >
              Category
            </th>

            <th
              class="text-left px-6 py-4 text-xs font-semibold uppercase tracking-wider text-gray-500"
            >
              Last Run
            </th>

            <th
              class="text-left px-6 py-4 text-xs font-semibold uppercase tracking-wider text-gray-500"
            >
              Date
            </th>

            <th
              class="text-left pr-6 py-4 text-xs font-semibold uppercase tracking-wider text-gray-500"
            >
              Action
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            *ngFor="let element of datasource"
            class="border-b border-gray-100 hover:bg-amber-50/30 transition duration-200"
          >
            <td class="px-6 py-5">
              <div class="flex items-center gap-3">
                <div class="w-11 h-11 rounded-xl bg-amber-100 flex items-center justify-center">
                  <mat-icon class="text-amber-500"> description </mat-icon>
                </div>

                <div>
                  <p class="font-semibold text-slate-700">
                    {{ element.name }}
                  </p>

                  <p class="text-xs text-gray-400">Generated Report</p>
                </div>
              </div>
            </td>

            <td class="px-6 py-5">
              <span
                class="inline-flex items-center px-3 py-1 rounded-full text-xs font-semibold bg-green-100 text-green-700"
              >
                {{ element.category }}
              </span>
            </td>

            <td class="px-6 py-5 text-sm text-gray-600">
              {{ element.lastRun }}
            </td>

            <td class="px-6 py-5 text-sm text-gray-600">
              {{ element.date }}
            </td>

            <td class="py-4 text-center flex gap-1">
              <button routerLink="/report"  class="p-3 rounded-xl bg-slate-100 hover:bg-slate-200 transition">
                <mat-icon class="text-gray-600"> play_arrow </mat-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>