<div
  class="hidden lg:grid lg:w-xl rounded-2xl bg-linear-to-br from-blue-900 to-blue-600 p-10 text-white flex-col justify-between">
  <!-- Logo -->
  <div routerLink="/home" class="flex items-center gap-3 justify-center cursor-pointer">
    <div class="flex gap-1">
      <img src="assets/signal.png" alt="logo" class="w-10 h-10 rounded-sm cursor-pointer" />
    </div>
    <h1 class="font-bold text-4xl">REPORT PORTAL</h1>
  </div>

  <!-- Content -->
  <div class="text-center">
    <h2 class="text-3xl font-semibold mb-2">Your one-stop portal</h2>
    <p class="opacity-80">Access and manage all reports in one place</p>

    <img src="assets/mockup.jpg" alt="logo" class="mt-5 w-4/5 mx-auto rounded-lg shadow-lg" />
  </div>

  <!-- Features -->
  <div class="flex justify-between text-sm opacity-90 pt-4">
    <div class="flex flex-col text-center">
      <span><mat-icon>lock</mat-icon></span>
      <span>Secure</span>
    </div>
    <div class="flex flex-col text-center">
      <span><mat-icon>speed</mat-icon></span>
      <span>Fast Access</span>
    </div>
    <div class="flex flex-col text-center">
      <span><mat-icon>bar_chart</mat-icon></span>
      <span>Smart Insights</span>
    </div>
  </div>
</div>