<div class="hidden lg:grid lg:w-xl h-screen rounded-2xl bg-linear-to-br from-blue-900 to-blue-600 p-10 text-white flex-col justify-between ml-2">

  <!-- Logo -->
  <div class="flex items-center gap-3 justify-center">
    <div class="flex gap-1">
      <img
        src="assets/signal.png" alt="logo"
        class="w-10 h-10 rounded-sm"
      />
    </div>
    <h1 class="font-bold text-4xl">REPORT PORTAL</h1>
  </div>

  <!-- Content -->
  <div class="text-center">
    <h2 class="text-3xl font-semibold mb-2">Your one-stop portal</h2>
    <p class="opacity-80">Access and manage all reports in one place</p>

    <img
      src="assets/mockup.jpg" alt="logo"
      class="mt-5 w-4/5 mx-auto rounded-lg shadow-lg"
    />
  </div>

  <!-- Features -->
  <div class="flex justify-between text-sm opacity-90">
    <span>🔒 Secure</span>
    <span>⚡ Fast Access</span>
    <span>📊 Smart Insights</span>
  </div>

</div>